{% load static %}
    <link rel="stylesheet" href="{% static 'styles/partials/front_widget.css' %}">

<section class='front_widget region'>

  <div class='wrapper'>
    <iframe  src="https://www.youtube.com/embed/{{ video_ids.0 }}" 
     frameborder="0" allowfullscreen></iframe>
  </div>

  <div class='wrapper'>
    <iframe  src="https://www.youtube.com/embed/{{ video_ids.1 }}" 
     frameborder="0" allowfullscreen></iframe>
  </div>

  <div class='wrapper'>
    <iframe  src="https://www.youtube.com/embed/{{ video_ids.2 }}" 
     frameborder="0" allowfullscreen></iframe>
  </div>

  <div class='wrapper'>
    <iframe  src="https://www.youtube.com/embed/{{ video_ids.3 }}" 
     frameborder="0" allowfullscreen></iframe>
  </div>

</section>