<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>{{ site_title }}</title>
    
    {% load static %}
    <link rel="stylesheet" href="{% static 'styles/base.css' %}">
    <link rel="stylesheet" href="{% static 'fonts/setup.css' %}">
    <link rel="icon" href="{% static 'images/site_logo.png' %}" >
    
    {% block insert_into_head %}<!-- to be implemented -->{% endblock %}
  </head>
  <body>
    {% include 'partials/header.html' %}

    {% include 'partials/front_widget.html' %}

    {% block main %}
      {% block content %}<!-- to be implemented -->{% endblock %}
      {% block sidebar %}<!-- to be implemented -->{% endblock %}
    {% endblock %}

    {% include 'partials/footer.html' %}
  </body>
</html>